

.qualification-card .card {
  position: relative;
  margin: 20px 0;
  width: 300px;
  height: 300px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 1s;
  box-shadow: inset 100px 0 50px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.qualification-card .card:hover {
  z-index: 1111;
  transform: perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

.qualification-card .card .img-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  transform-origin: left;
  z-index: 1;
  transition: 1s;
  border-radius: 50%;
  
}

.qualification-card .card .img-container img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card:hover .img-container {
  transform: rotateY(-135deg);
}

.qualification-card .card .card-details {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 20px;
  color: #000;
}

.qualification-card .card .card-details h2 {
  margin: 2rem;
  padding: em 0;
  text-transform: uppercase;
  font-size: 1em;
  color: #ed363a;
}

.qualification-card .card .card-details p {
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: .5em;
}
