section {
  display: inline-flex;
}
.section {
  height: 100vh;
  width: 220vh;
  scroll-snap-align: start;
}
.gray1 {
  background-color: rgb(182, 180, 180);
}
.gray2 {
  background-color: rgb(172, 172, 172);
}
.black {
  background-color: black;
}
